<ion-content>
    <form *ngIf="isSignUp" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <ion-list>

            <ion-item>
                <ion-input labelPlacement="floating" label="Last Name" formControlName="last_name" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-input labelPlacement="floating" label="First Name" formControlName="first_name"
                    required></ion-input>
            </ion-item>

            <ion-item>
                <ion-input labelPlacement="floating" label="Password" formControlName="password" type="password"
                    required></ion-input>
            </ion-item>

            <ion-item>
                <ion-input labelPlacement="floating" label="Email" type="email" formControlName="email"
                    required></ion-input>
            </ion-item>

            <ion-item>
                <ion-input labelPlacement="floating" label="Photo URL" formControlName="photoURL"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input labelPlacement="floating" label="CNIC" formControlName="cnic" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-input labelPlacement="floating" label="Country" formControlName="country" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-input labelPlacement="floating" label="City" formControlName="city" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-input labelPlacement="floating" label="Age" type="number" formControlName="age"
                    required></ion-input>
            </ion-item>

        </ion-list>

        <ion-col size="12">
            <ion-button expand="full" type="submit" [disabled]="signUpForm.invalid">Submit</ion-button>
        </ion-col>
        <ion-row>
            <ion-col size="12">
                <ion-text>
                    Already have an account?
                    <a (click)="switchLogin()">Login</a>
                </ion-text>
            </ion-col>
        </ion-row>
    </form>

    <form *ngIf="!isSignUp" [formGroup]="signInForm" (ngSubmit)="onLogin()">
        <ion-list>
            <ion-item>
                <ion-input labelPlacement="floating" label="Email" type="email" formControlName="email"
                    required></ion-input>
            </ion-item>
            <ion-item>
                <ion-input labelPlacement="floating" label="Password" formControlName="password" type="password"
                    required></ion-input>
            </ion-item>
        </ion-list>

        <ion-row>
            <ion-col size="12">
                <ion-button expand="full" type="submit" [disabled]="signInForm.invalid">Submit</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button (click)="signInWithGoogle()">
                    <ion-icon name="logo-google"></ion-icon>
                    Sign in with Google
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-text>
                    Don't have an account?
                    <a (click)="switchLogin()">Create one</a>
                </ion-text>
            </ion-col>
        </ion-row>

    </form>
</ion-content>