<ion-menu menuId="main" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Cricket Tracker</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list class="menu-list">

      <ion-item (click)="goTo('dashboard')" class="clickable ion-activatable">
        <ion-icon class="ion-padding-end" name="home-outline"></ion-icon>
        <ion-text> Dashboard </ion-text>
      </ion-item>
      <ion-item (click)="goTo('teams')" class="clickable ion-activatable">
        <ion-icon class="ion-padding-end" name="people-outline"></ion-icon>
        <ion-text> Teams </ion-text>
      </ion-item>
      <ion-item (click)="goTo('leagues')" class="clickable ion-activatable">
        <ion-icon class="ion-padding-end" name="trophy-outline"></ion-icon>
        <ion-text> Leagues </ion-text>
      </ion-item>
      <ion-item (click)="goTo('edit-profile')" class="clickable ion-activatable">
        <ion-icon class="ion-padding-end" name="create-outline"></ion-icon>
        <ion-text> Edit Profile </ion-text>
      </ion-item>
      <ion-item (click)="logOut()" class="clickable ion-activatable">
        <ion-icon class="ion-padding-end" name="log-out-outline"></ion-icon>
        <ion-text> Log out </ion-text>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-app>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>