<header [title]="'Edit Profile'" [showMenu]="true"></header>

<ion-content [fullscreen]="true">



  <form [formGroup]="profileForm">
    <div class="header">
      <div class="main-img">
        <img [src]="profileImage ? profileImage : 'assets/images/default2.png'" alt=""
          (click)="updateMyProfileImage()" />
        <input type="file" (change)="onProfileFileChange($event)" hidden id="imagefile" />
      </div>
    </div>
    <ion-list>
      <ion-item>
        <ion-input labelPlacement="floating" label="Last Name" formControlName="last_name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input labelPlacement="floating" label="First Name" formControlName="first_name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input labelPlacement="floating" label="Email" type="email" formControlName="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input labelPlacement="floating" label="CNIC" formControlName="cnic" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input labelPlacement="floating" label="Country" formControlName="country" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input labelPlacement="floating" label="City" formControlName="city" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input labelPlacement="floating" label="Age" type="number" formControlName="age" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-select label="Speciality" formControlName="userSpeciality">
          <ion-select-option *ngFor="let item of Specialities" [value]="item">{{item}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>

  <ion-row>
    <ion-col size="12">
      <ion-text>Skills</ion-text>
      <ion-row *ngFor="let item of Skills; let i =index">
        <ion-col size="12">
          <ion-range [(ngModel)]="item.rating" labelPlacement="start" [label]="item.skill" [ticks]="true" [snaps]="true"
            [min]="0" [max]="10"></ion-range>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button (click)="save()" class="ion-padding">
        Save Changes
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>